// Variables
@backgroundcolor: #7bab2e;

// Font-awesome
@import (css) "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

* { margin: 0; padding: 0; box-sizing: border-box; opacity: inherit; }

html, body, #main-wrapper { font: 13px Helvetica, Arial; height: 100%; width: 100%; opacity: 1; }

#main-wrapper {
  background: @backgroundcolor;
  transition: background .25s ease-in-out;
  /*
  &:hover{
    background: fadeout(@backgroundcolor, 50%);
  }
  */
}

.container {
  height: 100%;
  width: 100%;
  text-align: center;
}

.nickname-form-container {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 300px;
}

.nickname-form-container form {
  background: rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.nickname-form-container input, .nickname-form-container button {
  height: 70px;
  margin: 0;
  padding: 10px;
  font-size: 22px;
  text-align: center;
  vertical-align: bottom;
}

.nickname-form-container input[type="text"] {
  border: 1px solid black;
  width: 300px;
}

.nickname-form-container button[type="submit"] {
  color: white;
  background: transparent;
  border: 0;
  font-size: 30px;
  text-shadow: 0px 0px 5px black;
  width: 70px;
}

.greetings {
  color: white;
  font-size: 2.2em;
  margin-bottom: 30px;
}
