html, body, #main-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#main-wrapper {
  @primary: white;
  @secondary: #82ceea;

  background-color: @primary;
  background-image: linear-gradient(@secondary 2px, transparent 2px),
                    linear-gradient(90deg, @secondary 2px, transparent 2px),
                    linear-gradient(fadeout(@secondary, 70%) 1px, transparent 1px),
                    linear-gradient(90deg, fadeout(@secondary, 70%) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px
}

.animation{
  @animation: all .15s ease-in-out;
  transition: @animation;
  -moz-transition: @animation;
  -webkit-transition: @animation;
}

.infobox {
  @margin: 10px;

  position: absolute;
  top: @margin;
  right: @margin;
  float: right;
  text-align: right;
  opacity: 0.3;
  .animation;

  canvas {
    background: fadeout(white, 10%);
    height: 50px !important;
    width: 50px !important;
    .animation;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 0.5em;
    .animation;
  }

  &:hover {
    z-index: 1000;
    opacity: 0.9;
    canvas {
      height: 120px !important;
      width: 120px !important;
    }
    p {
      font-size: 1em;
    }
  }
}
